<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.exiashio.EijiroSearch"
      android:versionCode="12"
      android:versionName="1.12">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="17"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="com.exiashio.EijiroSearch.EnglishWordSearchActivity" android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Preference">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
